---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import MySlider from "@components/MySlider.jsx";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welibrary">
  <Container>
    <Hero />
    <div class="swiper">
      <MySlider client:load />
    </div>
    <div class="swiper">
      <Features />
    </div>
  </Container>
</Layout>

<style>
  .swiper {
    margin-top: 20px;
  }
</style>
