---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "查询馆藏",
    description:
      "在访问豆瓣京东等图书页面时，可以在右上角看到图书馆可借阅馆藏信息。目前已支持以下图书馆：广州、深圳、上海、杭州、西安、长沙及苏州等7座城市图书馆。",
    icon: "bx:bxs-shopping-bag-alt",
  },
  {
    title: "集成豆瓣评价",
    description:
      "在访问图书馆网站的图书信息页面时，可以看到豆瓣短评在下方展示。",
    icon: "bx:bxs-comment",
  },
  {
    title: "图书馆信息",
    description:
      "使用扩展的 popup 弹窗浏览图书信息，图书馆借阅排行榜，图书馆活动预告，图书馆服务时间及交通指南。",
    icon: "bx:bx-library",
  },
  {
    title: "阅读排行榜",
    description:
      "使用扩展的 popup 弹窗及后台配置首页时，可以获取豆瓣图书榜单、微信读书榜单。",
    icon: "bx:bx-list-ol",
  },
  {
    title: "集成搜索",
    description:
      "在豆瓣、知乎、京东等网站通过右键搜索城市图书馆、微信读书及豆瓣读书等网站的关键字搜索结果。在后台搜索菜单，可以进一步搜索各地城市图书馆，豆瓣、微信及多抓鱼等图书结果。",
    icon: "bx:bxs-search",
  },
  {
    title: "后台管理",
    description:
      "通过后台配置可以选择关心的城市图书馆，获取豆瓣读书在读与想读的书单等。",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    联动城市图书馆、豆瓣、与微信读书等网站服务
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    通过页面集成、插件弹窗及后台配置等方式，联动联动查询馆藏、查询豆瓣评论、集成豆瓣猜、京东推荐、右键搜索及后台批量查书等功能
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
