---
import { Picture } from "astro:assets";
import heroImage from "@assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <img
      src={`${import.meta.env.BASE_URL}douban.jpg`}
      class="1"
      alt="user image"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Welibrary 将城市图书馆与图书服务联动起来
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      使用该插件可以让你在浏览豆瓣书评等网页时，直接为你显示该书籍在所选图书馆的馆藏信息；在图书馆查看对应书籍时亦能直接为你显示该书在豆瓣的评价。
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://chromewebstore.google.com/detail/ffcdmbkbdhoplncikkpdcgknacckookm"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxl-chrome" />

        Chrome
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://microsoftedge.microsoft.com/addons/detail/mgohlikclghcmgbplhkjjpoecfkhocbo"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-edge" />
        Edge
      </Link>
    </div>
  </div>
</main>
