---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "图书馆浏览器插件"
  : "图书馆浏览器插件";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Welibrary 将城市图书馆与图书服务联动起来"
      canonical={canonicalURL}
      twitter={{
        creator: "@honwhy19",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `welibrary - 图书馆浏览器插件`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Welibrary Homepage Screenshot",
        },
      }}
      extend={{
        meta: [
          {name: 'keywords', content: 'welibrary,图书馆,豆瓣读书,微信读书,京东,知乎,多抓鱼'}
        ]
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
